// Main Site Layout

html {
  @include fluid-type(576px, 1800px, 17px, 26px);
}

body {
   font-family: $font-family-base;
   color: $primary;
   background-color: $secondary;
   line-height: $line-height-base;
   overflow-x: hidden;

   &.open {
      overflow: hidden;
   }

   &.show-breakpoints::after{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    content: "mobile";
    padding: 10px;
    background-color: red;
    @include media-breakpoint-up (xs) {
      content: "xs " attr(data-width);
    }
    @include media-breakpoint-up (sm) {
      content: "small " attr(data-width);
    }
    @include media-breakpoint-up (md) {
      content: "medium " attr(data-width);
    }
    @include media-breakpoint-up (lg) {
      content: "large " attr(data-width);
    }
    @include media-breakpoint-up (xl) {
      content: "xl " attr(data-width);
    }
    @include media-breakpoint-up (xxl) {
      content: "xxl " attr(data-width);
    }
  }
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
    position: relative;

    .header,
    .footer {
        flex: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        &::after {
            content: '';
            display: block;
            height: 0px;
            visibility: hidden;
        }
    }
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-width;
}
